<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<p>Please add the following data:</p>
<form (ngSubmit)="onSubmit(f)" #f="ngForm"><!--#f="ngForm", f is een referentie naar ngForm en dat is het javaScript object dat Angular van het formulier maakt -->
    <div id="user-data"> 
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" name="email" id="email" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="secret">Secret Question</label>
            <select id="secret" class="form-control" ngModel name="secret">
                <option value="pet">Your first Pet?</option>
                <option value="teacher">Your favorite teacher?</option>
            </select>
        </div>
</div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>
</div>