
<h1>Reactive Logon</h1>
<label>
    Name:<br />
    <input type="text" [formControl]="username"></label>
<br/>
<p>Value: {{ username.value }}</p>
<label>
    Password:<br />
    <input type="password" [formControl]="password"></label>
    <br /> 
        <p>{{ password.value }}</p>
<p>
    <!-- display the current value using interpolation in the template -->
    Username: {{ username.value }} & Password: {{ password.value }}
</p>
 
 <button (click)="updatePassword()" class="btn btn-warning">Show the real password</button>
<hr />

<app-reactive-personaldata-form></app-reactive-personaldata-form>
 