:host{
   display: block;
   margin-left:25px;
}

.open-close{
    margin-top:20px;
    padding:10px;
    border: green solid 1px;
}
button{
    margin-top:20px;
}
hr{
    border-top: 3px dashed green;
}