 <nav>
  <ul>
    <li><a routerLink="/yellow-component" routerLinkActive="active">Yellow Component</a></li>
    <li><a routerLink="/red-component" routerLinkActive="active">Red Component</a></li>
    <li><a routerLink="/statusslider-component" routerLinkActive="active">StatusSlider Component</a></li>
    <li><a routerLink="/fly-in-out-component" routerLinkActive="active">Fly-in-out Component</a></li>
    <li><a routerLink="/reactive-form-component" routerLinkActive="active">Reactive form Component</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>